<h1>{{title}}</h1>
<h2>{{subtitle}}</h2>
<body id='about'>
  <div id='photo'>
    <section>
      <img src='img/molly.JPG' alt='Photograph of Molly Christison'>
  <h3>{{about}}</h3>
    <p>{{blerb}}</p>
</body>
<footer>{{icons}}</footer>
